@font-face {
    font-family: "Roboto";
    src: url(font/Roboto-Regular.ttf);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: start;
    align-items: center;
    font-family: arial;
}

.rangeInput {
    width: 500px;
}

.sampleText {
    font-size: 26px;
}